<div>

    <mat-card>
        <!-- <mat-list> -->
        <mat-card-content>
            <mat-card-title>Country Info </mat-card-title>
                <mat-card-subtitle>Name - {{ countryInfo["name"]}}</mat-card-subtitle>
                <mat-card-subtitle>Capital - {{ countryInfo["capitalCity"] }}</mat-card-subtitle>
                <mat-card-subtitle>Region - {{ countryInfo["region"] }} </mat-card-subtitle>
                <mat-card-subtitle>Income Level - {{ countryInfo["incomeLevel"] }}</mat-card-subtitle>
                <mat-card-subtitle>Longitude - {{ countryInfo["longitude"] }}</mat-card-subtitle>
                <mat-card-subtitle>Latitude  - {{ countryInfo["latitude"] }}</mat-card-subtitle>
            <!-- <mat-card-title>Country Info </mat-card-title>
            <mat-card-subtitle>Name - {{ country.name }}</mat-card-subtitle>
            <mat-card-subtitle>Capital - {{ country.capitalCity }}</mat-card-subtitle>
            <mat-card-subtitle>Region - {{ country.region }} </mat-card-subtitle>
            <mat-card-subtitle>Income Level - {{ country.incomeLevel }}</mat-card-subtitle>
            <mat-card-subtitle>Longitude - {{ country.longitude }}</mat-card-subtitle>
            <mat-card-subtitle>Latitude - {{ country.latitude }}</mat-card-subtitle> -->

        </mat-card-content>
        <!-- </mat-list> -->
    </mat-card>
</div>