
.container {
    padding: 50px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.svg-map{
    height: 600px;
}

.form-fields {
    display: flex;
    flex-direction: column;
}
